@model List<DTOLayer.DTOs.AnnouncementDTOs.AnnouncementListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyurular</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.AnnouncementID</td>
            <td>@x.Title</td>
            <td>@x.Content</td>
            <td><a href="/Admin/Announcement/UpdateAnnocuncement/@x.AnnouncementID/" class="btn btn-outline-dark">Detaylar</a></td>
            <td><a href="/Admin/Announcement/DeleteAnnouncement/@x.AnnouncementID/" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<br />
<a class="btn btn-outline-dark" href="/Admin/Announcement/AddAnnouncement/">Yeni Duyuru</a>

