@model VisitorViewModel
@{
    ViewData["Title"] = "CreateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Ziyaretçi Ekleme Sayfası</h1>
<br />
<form method="post">
    <label>Ziyaretçi Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Ziyaretçi Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br /
    <label>Şehir</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />
    <label>Ülke</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
    <button class="btn btn-outline-success">Ziyaretçi Oluştur</button>

</form>
