@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Bize Ulaşın Mesajları</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ContactUsID</td>
            <td>@x.Name</td>
            <td>@x.Subject</td>
            <td>@x.MessageDate.ToString("dd.MMM.yyyy")</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-dark">Mesajı Oku</a></td>

        </tr>
    }
</table>

